# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

*.xcuserstate

*.blend1

Projects/XCode/FelixEngine/FelixEngine.xcodeproj/project.xcworkspace/xcuserdata/rcrosby.xcuserdatad/UserInterfaceState.xcuserstate
FelixEngine/FelixEngine/Systems/.DS_Store
Projects/Hello3D/.DS_Store
Plugins/Blender/testing/exported
